/*Change this later*/
.logo {
  color: whitesmoke
}

.navbar-fixed {
  position: fixed;
  top: -(60px);
  z-index: 1000;
  width: 100%;
  background: #526D73 ;
}


/*///////////////////////////////////////////////*/


body {
  background: black;
  color: whitesmoke;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  width: 100%;
  align-items: center;
}


img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "Exo", sans-serif;
  padding: 0;
}

.navigation {
  width: 100%;
  position: relative;
}

#nav-header {
  background: whitesmoke ;
  color: black;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  height: 200px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 4px solid black;
}

#nav-header * {
  padding: 3px 10px 0px 10px;
}

.glyphicon {
  max-height: 100px;
  margin-top: 45px;
}

#design {
  font-size: 120px;
  margin: 0;
  text-align: right;
  color: #909BA6
}
#development {
  font-size: 100px;
  margin: 0;
  text-align: left;
  color: #909BA6;
}

.headshot {
  width: 100%;
  margin: 30px auto 200px auto;
}

#headshot {
  margin-right: 0px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 0;
}

.name {
  margin: -200px auto auto auto;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #00AB57;
  text-transform: uppercase;
}

.description {
  text-transform: uppercase;
  width: 60%;
  text-align: right;
  display: block;
  font-size: 30px;
  margin: -500px 5px 300px auto;
}

#about-me {
  color: #4A8078;
  font-size: 40px;
}

#about-experience {
  color: #FF9E2C;
  font-size: 40px;
}

#about-projects {
  color: #17B453;
  font-size: 40px;
}

.intro {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  font-size: 30px;
}

.experience-text {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  font-size: 30px;

}

.projects {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  font-size: 30px;

}


a {
  text-align: center;
  margin: 0 auto;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #909BA6
}


/*End mobile */

.text-img {
}



.photo-credit {
  padding: 40px;
  text-align: center;
}














/*Color Palette*/

/*
whitesmoke
black
#909BA6 -grey
#4A8078 -teal
#00AB57 -green
#FF9E2C -orange*/
