$breakpoint: 700px;

$main-font: "Lato", sans-serif;
$header-font: "Julius Sans One", sans-serif;

$currant: #45415E;
$lavender: #DCDEFF;
$red: #D03333;
$dark-purple: #222430;

/*///////////////////////////////////////////////*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

section {
  width: 100%;
  padding: 0px;
  position: relative;
  text-align: center;
}

p {
  font-size: 16px;
}

.intro {
  background: url(assets/IMG_2164-Pano.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;

  .intro-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-transform: uppercase;

    .header-box {
      background: rgba(255,255,255,.1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: whitesmoke;
      padding: 20px 200px;
      border: 4px solid whitesmoke;
      -moz-box-shadow: inset 0px 0px 5px 0px $dark-purple;
      -webkit-box-shadow: inset 0px 0px 5px 0px $dark-purple;
      -o-box-shadow: inset 0px 0px 5px 0px $dark-purple;
      box-shadow: inset 0px 0px 5px 0px $dark-purple;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }

      .site-header {
        font-size: 2em;
        text-shadow: 3px 2px $dark-purple;
      }

      .greetings{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          font-family: $header-font;
          text-shadow: 1px 1px $dark-purple;
          padding: 6px;
          justify-content: center;
          align-items: center;
          font-weight: lighter;
        }
      }
    }
  }
}

.about-me {
  background: $dark-purple;
  padding: 66px 0;

  .image-headshot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid $dark-purple;
  }

  h2 {
    color: $red;
    margin-top: 90px;
    font-family: $header-font;
  }

  .personal-statement {
    padding: 10px 60px;
    color: $lavender;
    font-size: 24px;
    font-weight: lighter;
  }

}

.my-story {
  padding: 90px 0;

  h2 {
    margin-bottom: 60px;
    font-family: $header-font;
  }

  .container-stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;

    .story {
      position: relative;
      font-weight: lighter;
      width: 27%;
      padding: 18px 0;
      text-align: center;

      .logo {
        img {
          height: 66px;
          width: 66px;
        }
      }

      h3{
        text-align: center;
        text-transform: uppercase;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          text-align: center;
        }
      }
    }
  }
}

.portfolio {
  background: $currant;
  padding: 0 0 66px 0;

  h2 {
    font-family: $header-font;
    color: whitesmoke;
    padding: 66px;
  }

  .portfolio-projects {
    display: flex;
    width: 100%;
    // max-width: 1024px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .project {
      .project-image, .overlay {
        width: 240px;
        height: 240px;
        margin: 2px;
        object-fit: cover;
      }
      .overlay {
        z-index: 1000;
        position: absolute;
        background: rgba(69,65,94,.3);
        .project-description {
          position: relative;
          text-decoration: none;
          color: whitesmoke;
          font-weight: lighter;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .overlay:hover {

        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        @keyframes fadeOut {
          0% { opacity: 1; }
          100% { opacity: 0; }
        }
      }

      .overlay:not(:hover) {
        -webkit-animation-name: fadeBack;
        animation-name: fadeBack;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        @keyframes fadeBack {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
      }
    }
  }
}

.contact {
  padding: 20px 0;
  background: $currant;
  ul {
    padding: 0 0 54px 0;
  }
  img {
    width: 66px;
    height: 66px;
  }
  .photo-credit, .email-inquiries {
    padding: 12px 0;
    color: $lavender;
    text-transform: uppercase;
    font-weight: lighter;
    a {
      text-decoration: none;
      color: $lavender;
    }
    a:hover {
      color: whitesmoke;
    }
  }
}

@media only screen and (max-width: $breakpoint) {

  .intro {
    .intro-content {
      .header-box {
        padding: 18px 42px;
      }
    }
  }


  .my-story {
    h2 {
      display: none;
    }
    .container-stories {
      display: block;
      width: 100%;
      margin: auto;
      padding: 0;
      .story {
        position: relative;
        margin: 0 auto;
        font-weight: lighter;
        width: 80%;
        padding: 18px 18px;


        h3{
          text-align: center;
          text-transform: uppercase;
        }
        ul {
          padding: 0;
          li {
            list-style: none;
            text-align: center;
          }
        }
      }
    }
  }
}
