/*///////////////////////////////////////////////*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: whitesmoke; }

section {
  width: 100%;
  padding: 0px;
  position: relative;
  text-align: center; }

p {
  font-size: 16px; }

.intro {
  background: url(assets/IMG_2164-Pano.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0; }
  .intro .intro-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-transform: uppercase; }
    .intro .intro-content .header-box {
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: whitesmoke;
      padding: 20px 200px;
      border: 4px solid whitesmoke;
      -moz-box-shadow: inset 2px 0px 5px 0px #222430;
      -webkit-box-shadow: inset 2px 0px 5px 0px #222430;
      -o-box-shadow: inset 2px 0px 5px 0px #222430;
      box-shadow: inset 2px 0px 5px 0px #222430;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .intro .intro-content .header-box .site-header {
        font-size: 2em;
        text-shadow: 3px 2px #222430; }
      .intro .intro-content .header-box .greetings {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }
        .intro .intro-content .header-box .greetings span {
          font-family: "Julius Sans One", sans-serif;
          text-shadow: 1px 1px #222430;
          padding: 6px;
          justify-content: center;
          align-items: center;
          font-weight: lighter; }

.about-me {
  background: #222430;
  padding: 66px 0; }
  .about-me .image-headshot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #222430; }
  .about-me h2 {
    color: #D03333;
    margin-top: 90px;
    font-family: "Julius Sans One", sans-serif; }
  .about-me .personal-statement {
    padding: 10px 60px;
    color: #DCDEFF;
    font-size: 24px;
    font-weight: lighter; }

.my-story {
  padding: 90px 0; }
  .my-story h2 {
    margin-bottom: 60px;
    font-family: "Julius Sans One", sans-serif; }
  .my-story .container-stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto; }
    .my-story .container-stories .story {
      position: relative;
      font-weight: lighter;
      width: 27%;
      padding: 18px 0;
      text-align: center; }
      .my-story .container-stories .story .logo img {
        height: 66px;
        width: 66px; }
      .my-story .container-stories .story h3 {
        text-align: center;
        text-transform: uppercase; }
      .my-story .container-stories .story ul {
        padding: 0; }
        .my-story .container-stories .story ul li {
          list-style: none;
          text-align: center; }

.portfolio {
  background: #45415E;
  padding: 0 0 66px 0; }
  .portfolio h2 {
    font-family: "Julius Sans One", sans-serif;
    color: whitesmoke;
    padding: 66px; }
  .portfolio .portfolio-projects {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; }
    .portfolio .portfolio-projects .project .project-image, .portfolio .portfolio-projects .project .overlay {
      width: 240px;
      height: 240px;
      margin: 6px;
      object-fit: cover; }
    .portfolio .portfolio-projects .project .overlay {
      z-index: 1000;
      position: absolute;
      background: rgba(69, 65, 94, 0.3); }
      .portfolio .portfolio-projects .project .overlay .project-description {
        position: relative;
        text-decoration: none;
        color: whitesmoke;
        font-weight: lighter;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .portfolio .portfolio-projects .project .overlay:hover {
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  90% {
    font-size: 17px; }
  100% {
    opacity: 0; } }
    .portfolio .portfolio-projects .project .overlay:not(:hover) {
      -webkit-animation-name: fadeBack;
      animation-name: fadeBack;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
@keyframes fadeBack {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.contact {
  padding: 20px 0;
  background: #45415E; }
  .contact ul {
    padding: 0 0 54px 0; }
  .contact img {
    width: 66px;
    height: 66px; }
  .contact .photo-credit, .contact .email-inquiries {
    padding: 12px 0;
    color: #DCDEFF;
    text-transform: uppercase;
    font-weight: lighter; }
    .contact .photo-credit a, .contact .email-inquiries a {
      text-decoration: none;
      color: #DCDEFF; }
    .contact .photo-credit a:hover, .contact .email-inquiries a:hover {
      color: whitesmoke; }

@media only screen and (max-width: 700px) {
  .intro {
    background-color: #222430;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120%; }
    .intro .intro-content .header-box {
      padding: 18px 42px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%); }

  .about-me {
    padding-top: 66px;
    background-color: #222430; }

  .my-story h2 {
    display: none; }
  .my-story .container-stories {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0; }
    .my-story .container-stories .story {
      position: relative;
      margin: 0 auto;
      font-weight: lighter;
      width: 80%;
      padding: 18px 18px; }
      .my-story .container-stories .story h3 {
        text-align: center;
        text-transform: uppercase; }
      .my-story .container-stories .story ul {
        padding: 0; }
        .my-story .container-stories .story ul li {
          list-style: none;
          text-align: center; } }

/*# sourceMappingURL=main.css.map */
