/*Change this later*/
.logo {
  color: whitesmoke; }

.navbar-fixed {
  position: fixed;
  top: -60px;
  z-index: 1000;
  width: 100%;
  background: #526D73; }

/*///////////////////////////////////////////////*/
body {
  background: black;
  color: whitesmoke;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100%;
  align-items: center; }

h2 {
  display: none; }

@media only screen and (min-width: 800px) {
  body {
    text-align: left; }

  #wolf {
    height: 100%;
    max-width: 90%;
    position: fixed;
    opacity: .7;
    border-radius: 2px;
    right: 0;
    top: 0;
    z-index: -1000;
    box-shadow: 0 0 8px 8px black inset; }

  .full-screen-body {
    width: 40%;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 50px;
    padding: 40px 20px 40px 80px;
    text-align: left;
    border-left: 2px solid whitesmoke; }

  h2 {
    display: block;
    margin: -100 auto 100px;
    font-weight: lighter;
    font-size: 56px; } }
img {
  max-width: 100%;
  display: block; }

@media only screen and (min-width: 800px) {
  #mountain, #tigers, #cabin {
    display: none; } }
h1 {
  padding: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 100; }

@media only screen and (min-width: 800px) {
  font-size: 30px; }
.glyphicon {
  max-height: 100px;
  margin-top: 45px; }

#design {
  font-size: 60px;
  margin: 0;
  text-align: right;
  color: #909BA6; }

#development {
  font-size: 50px;
  margin: 0;
  text-align: left;
  color: #909BA6; }

.headshot {
  width: 100%;
  margin: 30px auto 70px auto; }

#headshot {
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  padding: 0; }

@media only screen and (min-width: 800px) {
  .headshot {
    margin-bottom: 100px; }

  #development {
    display: none; }

  #design {
    display: none; }

  #headshot {
    height: 300px;
    object-fit: cover;
    margin-left: 0px;
    border-radius: 50%;
    padding: 0; } }
.name {
  margin: 0px auto 0px auto;
  padding-bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: whitesmoke;
  text-transform: uppercase; }

@media only screen and (min-width: 800px) {
  .name {
    margin-top: -100px;
    text-align: left;
    font-size: 20px; } }
#about-me {
  color: #4A8078;
  font-size: 40px;
  padding-top: 40px; }

#about-experience {
  color: #FF9E2C;
  font-size: 40px; }

#about-projects {
  color: #14910E;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

@media only screen and (min-width: 800px) {
  #about-me, #about-experience, #about-projects {
    text-align: left;
    margin: 0;
    padding: 0; } }
.intro {
  margin: 50px auto;
  padding-top: 190px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 20px; }

.experience-text {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 20px; }

a {
  text-align: left;
  margin: 0 auto;
  color: whitesmoke;
  text-decoration: none; }

@media only screen and (max-width: 800px) {
  a {
    text-align: center; } }
a:hover {
  color: #909BA6; }

/*End mobile */
.text-img {
  position: relative;
  margin: 40px 0;
  width: 100%; }

#mountain {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; }

.description {
  text-transform: uppercase;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 20px;
  /*margin: -500px 5px 300px auto;*/ }

@media only screen and (min-width: 800px) {
  .intro, .experience-text, #about-projects {
    text-align: left;
    margin-right: 20px;
    padding: 50px 0 0; }

  #about-projects {
    padding-top: 100px; }

  .description {
    display: none; } }
.photo-credit {
  padding: 40px auto;
  text-align: left;
  margin-top: 80px; }

.call {
  text-align: left; }

.projects {
  margin: 0px auto 80px;
  padding: 20px auto 80px;
  display: inline-block;
  text-align: center; }

@media only screen and (max-width: 800px) {
  .projects {
    margin: 0 auto;
    width: 100%;
    text-align: left; }

  .call {
    text-align: center; }

  .photo-credit {
    text-align: center; } }
section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20%; }
  section * {
    display: block; }

@media only screen and (max-width: 800px) {
  section {
    margin: 0 auto;
    width: 100%;
    height: 20%; }
    section a {
      text-align: center; } }
.project-img {
  max-height: 200px;
  width: 100%;
  position: relative;
  padding: 0;
  object-fit: cover;
  border-radius: 0px;
  opacity: .7;
  display: inline-block;
  margin: 0px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

@media only screen and (max-width: 800px) {
  .project-img {
    max-height: 500px;
    width: 100%;
    position: relative;
    padding: 0;
    object-fit: cover;
    border-radius: 0px;
    opacity: .3;
    display: inline-block;
    margin: 0px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); } }
.project-img:hover {
  cursor: pointer;
  z-index: 400;
  opacity: 1;
  box-shadow: 0 44px 58px rgba(0, 0, 0, 0.25), 0 40px 40px rgba(0, 0, 0, 0.22); }

/*Color Palette*/
/*
whitesmoke
black
#909BA6 -grey
#4A8078 -teal
#00AB57 -green
#FF9E2C -orange*/

/*# sourceMappingURL=main.css.map */
